* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body > div {
  margin: 0;
  display: inline-block;
  height: 600px;
  width: 600px;
  position: relative;
}

.white {
  background-color: rgb(255, 255, 255);
}
.black {
  background-color: rgb(0, 0, 0);
}
.red {
  background-color: rgb(255, 0, 0);
}
.green {
  background-color: rgb(0, 255, 0);
}
.blue {
  background-color: rgb(0, 0, 255);
}

.cube {
  transform-style: preserve-3d;
  background-color: transparent;
  width: 200px;
  height: 200px;
  position: relative;
  top: 30%;
  left: 33%;
  animation: rotate 5000ms ease-in-out alternate infinite;
}

.cmyk {
  height: 200px;
  width: 200px;
  position: absolute;
  animation: none;
}

.c {
  background-color: rgba(0, 255, 255, 0.5);
}
.m {
  background-color: rgba(255, 0, 255, 0.5);
}
.y {
  background-color: rgba(255, 255, 0, 0.5);
}

.s1 {
  transform: translateZ(-100px);
}
.s2 {
  transform: translateZ(100px);
}
.s3 {
  transform: rotateY(-90deg) translateZ(100px);
}
.s4 {
  transform: rotateY(90deg) translateZ(100px);
}
.s5 {
  transform: rotateX(-90deg) translateZ(100px);
}
.s6 {
  transform: rotateX(90deg) translateZ(100px);
}

@keyframes rotate {
  0% {
    transform: rotateY(-45deg) rotateZ(-35deg) rotateX(-45deg);
  }

  100% {
    transform: rotateY(945deg) rotateZ(35deg) rotateX(45deg);
  }
}

@media (max-width: 800px) {
  body > div {
    width: 100%;
  }
}

@media (max-width: 600px) {
  body > div {
    width: 100vw;
  }

  .cube {
    height: 150px;
    width: 150px;
    left: 30%;
  }

  .cmyk {
    width: 150px;
    height: 150px;
  }

  .s1 {
    transform: translateZ(-75px);
  }

  .s2 {
    transform: translateZ(75px);
  }

  .s3 {
    transform: rotateY(-90deg) translateZ(75px);
  }

  .s4 {
    transform: rotateY(90deg) translateZ(75px);
  }

  .s5 {
    transform: rotateX(-90deg) translateZ(75px);
  }

  .s6 {
    transform: rotateX(90deg) translateZ(75px);
  }
}
