body {
  background-color: lightgray;
}

body > div {
  display: inline-block;
  height: 600px;
  width: 600px;
}

@media (max-width: 600px) {
  body > div {
    width: 100%;
    height: 100;
  }
}

.white {
  background-color: white;
}
.black {
  background-color: black;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.cmyk {
  height: 200px;
  width: 200px;
  position: absolute;
}

.cube {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  position: relative;
  top: 45%;
  left: 15%;
  animation: rotate 5000ms ease-in-out alternate infinite;
  transform-origin: bottom right;
}

.m {
  background-color: rgba(255, 0, 255, 0.5);
}

.y {
  background-color: rgba(255, 255, 0, 0.5);
}

.c {
  background-color: rgba(0, 255, 255, 0.5);
}

.s2 {
  transform: translateZ(200px);
}

.s3 {
  transform: rotateY(90deg);
  transform-origin: right;
}

.s4 {
  transform: rotateY(-90deg);
  transform-origin: left;
}

.s5 {
  transform: rotateX(90deg);
  transform-origin: top;
}

.s6 {
  transform: rotateX(-90deg);
  transform-origin: bottom;
}

@keyframes rotate {
  0% {
    transform: rotateY(-45deg) rotateZ(35deg) rotateX(45deg);
  }

  100% {
    transform: rotateY(945deg) rotateZ(35deg) rotateX(45deg);
  }
}
